extend layout
block content
	ul#userList
		each user, i in userlist
			li
				button#delItem.delbtn(type="button" value="/deleteuser/#{user._id}") delete    
				button#editItem.edtbtn(type="button") edit
				a(class="usrText" href="mailto:#{user.email}" alt="#{user._id}")= user.username 
				input#editText.edText(type="text" name="updatetext" value="")
	br
	p
		| This is the about page
		| This is the about page
		| This is the about page
		| This is the about page
		| This is the about page
	p                 
		| This is the about page
		| This is the about page
		| This is the about page
		| This is the about page
		| This is the about page
	button#delAll.delbtn(type="button" value="/deleteall") delete all  

block sidebar
	.widget
		h1 Widget
		p
			| Sed auctor neque eu tellus rhoncus ut
			| eleifend nibh porttitor. Ut in nulla enim.
		p
			| Stuff about the about page
			| vehicula.