extend layout
block content
	p
		| This is the contact page
		| This is the contact page
		| This is the contact page
		| This is the contact page
		| This is the contact page
	p
		| This is the contact page
		| This is the contact page
		| This is the contact page
		| This is the contact page
		| This is the contact page

block sidebar
	.widget
		h1 Widget
		p
			| Sed auctor neque eu tellus rhoncus ut
			| eleifend nibh porttitor. Ut in nulla enim.
		p
			| Vivamus hendrerit arcu sed erat molestie
			| vehicula.
	
		
		
		
		
		
		
		
		
		
		